*-hvw
*/*-hvw
*/*/*-hvw

im2smiles/results
im2latex/make.py

data/*/collect_data.py
data/*/*/collect_data.py
data/hand-drawn/hand-drawn-full
data/hand-drawn/hand-drawn-training/training-sets/collect_HDforms.py
data/synthetic/backgrounds/

*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc

